* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  border:0
  }

  body {
    text-align: justify;
    font-family: 'Montserrat';
    margin-bottom: 10vw;
    color: #07090b;

    #manifest-section {
      margin: 5vw 10vw;
   
      h1 {
        text-align: center;
        margin-bottom: 12px;
      }
    
      h3 {
        text-align: center;
        margin-bottom: 24px;
      }
    
      p {
        margin: 18px 0;
      }
    
      ol {
        margin: 24px 48px;
    
        li {
          margin: 12px 0;
        }
      }
    }

    #signers-section {
      margin: 0 10vw;
      h2 {
        margin-bottom: 12px;
        text-align: center;
      }

      ul {
        margin: 24px 48px;
        font-size: 1.14rem;

        li {
          margin: 12px 0;
        }
      }
    }
  }


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap')